*, *::after,*::before{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6,a,p,label{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.box{
    width: 90%;
    margin: 0 auto;
    height: 8vh;
}

.title{
    font-size: 2rem;
}

.link{
    font-size: 1.2rem;
}

@media (min-width: 750px){
    .box{
        width: 85%;
    }
}
