
:root{
    --main-color: #EC4449;
    --hover-color: #ff9b9f;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-main-text-container{
    padding-inline:2rem;
    margin-block: 2rem;
}
.line-height-container{
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    
}
.line-height-container::before{
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    left:0;
    top: 0;
}
.hero-header{
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 900;
}
.p-text{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.hero-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    padding: 0.5rem 2rem;
    border: none;
    
}
.main{
    background-color: var(--main-color);
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    transition: 0.5s;
}
.secondary{
    border: 2px solid var(--main-color);
    background-color: white;
    transition: 0.5s;
}

.main:hover{
    background-color:var(--hover-color);
}
.secondary:hover{
    
    border-radius: 10px;
}





.small-text{
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
    font-weight: 300;
}
/*section1 */
.section1-image-container{
    height: 60vh;
}
.section1-text-container{
    padding: 2rem;
}
.section1-header{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}




/*section2*/
.cont{
    height: 40vh;
}
.section2-text{
    text-align: center;
    padding: 2rem;
}

.s{
    margin-bottom:1rem;
}
.section3-header{
    font-size: 1.7rem;
    font-weight: 700;
    margin-block: 1rem;
}

.read-more{
    cursor: pointer;
    text-decoration: underline;
}


/*section3*/
.grid-2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}


/*section4*/
.section4{
    padding: 2rem
}
.dark{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    transition: 0.5s;
}
.section4-image-container{
    height: 30vh;
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
    
}
.image-text{
    position: absolute;
    bottom:10px;
    left:10%;
    color: white;
    font-size: 2rem;
    font-weight: 900;
}
.section4-image-container:hover .dark{
    opacity: 0;
}


/*section5*/
.section5-text-container{
    padding: 2rem;
}
.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    
}
.label{
    font-size:1.8rem;
    font-weight: 700;
}

.inputfield{
    border: none;
    border-bottom: 2px solid var(--main-color);
    outline: none;
    padding: 0.6rem;
}



@media(min-width: 750px) and (max-width:1000px){
    .hero-main-text-container, .section5-text-container,  .section1-text-container{
        padding: 2rem 5rem;
    }
    .section4-flex{
        padding: 1rem 6rem;
    }
    .section5-image-container{
        height: 60vh;
    }

}


@media(min-width: 1000px){
    
    .p-text{
        font-size: 1.5rem;
    }
    
    .hero-main{
        display: flex;
        flex-direction: row;
        height: 92vh;
        
       
    }
    .hero-header{
        font-size: 3.5rem;
    }

    
    .hero-main-text-container{
        width: 45%;
        padding-left: 8.5%;
        display: flex;
        align-items: center;
       
    }
    .section1-text-container{
        display: flex;
        align-items: center;
        margin-right: 7rem
    }
    .image-container{
        width: 55%;
    }
    .hero-button-row{
        justify-content: start;
    }
    .main{
        padding: 1rem 2.5rem;
        margin-right: 1rem;
    }


    .section1{
        display:flex;
        flex-direction: row;
    }
    .section1-image-container{
        width:55%;
        height: 80vh;

    }
    .section1-text-container{
        width: 45%;
    }
    .section1-header{
        font-size: 3rem;
    }


    .section2{
        margin: 0 auto;
        width: 85%;
        margin-block: 6rem;
    }
    .section2-text{
        display: flex;
        margin-top: 3.2rem
    }
   .cont{
       
       width: 100%;
       height: 100%
   }
    .grid-1{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,400px);
    }
    .grid-2{
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(2,300px);
    }

    .grid-image-containers{
        height: 100%;
        width: 100%;
    }
    .gr-1{
        grid-row: 1 / 3;
        grid-column: 1/7;
    }

    .gr-2{
        grid-row:1/2;
        grid-column: 7/13;
    }
    .gr-3{
        grid-row: 2/3;
        grid-column: 7/10;
        
    }
    .gr-4{
        grid-row: 2/3;
        grid-column: 10/13;
    }


    .section4{
        width: 85%;
        margin: 5rem auto;
        
    }

    .section4-flex{
        display: flex;
        height: 60vh;
    }

    .section4-flex > *{
        flex-basis: 100%;
    }

    .sec{
        padding: 0;
        margin-bottom: 3rem;
    }
    .section4-image-container{
        height: 100%;
        width: 100%;
    }
    .image-text{
        font-size: 3rem;
        bottom: 8%;
    }
    .middle{
        margin-inline: 1rem;
    }

    .section5{
        display:flex;
        height: 80vh;
    }
    .section5 > *{
        flex-basis: 100%;
    }

    .section5-text-container{
        padding-top: 5rem;
        
        
    }

    .q{
        width: 70%;
        margin: 0 auto;
    }
    label{
        font-size: 1.3rem;
    }
    .contact{
        margin-bottom: 5rem
    }

}
